/bin
/obj
/node_modules
/.vs
*.vsidx
/BankOfDotNet/BankDotNet.API/obj
/BankOfDotNet/BankDotNet.API/bin
/BankOfDotNet/BankOfDotNet.IdentityServer/bin
/BankOfDotNet/BankOfDotNet.IdentityServer/obj
/BankOfDotNet/.vs
/BankOfDotNet/BankOfDotNet.Console/bin/Debug/net6.0
